<div id="city_code_wrapper">
   
  <% 
  form_object = model.underscore
  selected ||= selected %>
  <% cities = CountriesRegionsAndCitiesByPete::get_cities(selected_region,selected_country)%>

	<%
		#byebug
	%>

 <% if cities %>
  	<label><%=label%></label><br />
    <%= select_tag "#{form_object}[city]", options_for_select(cities, selected), include_blank: true, id: "city" %>
  <% end %>
</div>
