<% regions = CountriesRegionsAndCitiesByPete::get_regions(selected_country) 
form_object = model.underscore
%>
<% selected ||= selected %>

<div id="region_code_wrapper">
  <% if regions %>
    <label><%=label%></label><br />
	<%
	#	byebug
	%>
    <%= select_tag "#{form_object}[region]", options_for_select(regions.sort_by{|c| c.name}.map{|c| [c.name, c.code]}, selected), include_blank: true, id: "region" %>
  <% end %>
</div>
